.btn-hover{
    min-height: 45px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid rgb(0, 8, 255);
    background-color: rgb(149, 165, 166);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    height: 45px;
    font-size: 16px;
}

.btn-hover:hover {
    font-size: 18px;
    height: 48px;
    width: 171px;
    transition: ease 0.3s;
}

.search-btn{
    min-height: 45px;
    width: 169px;
    border-radius: 10px;
    border: 3px solid rgb(0, 8, 255);
    background-color: rgb(149, 165, 166);
    font-family: Verdana, "Lucida Sans Unicode", sans-serif;
    height: 45px;
    font-size: 16px;
}

.search-btn:hover {
    font-size: 18px;
    height: 48px;
    width: 192px;
    transition: ease 0.3s;
}